<div class="center hero-unit">
	<h1>Tawzi</h1>
		<p>
			This is the home page
		</p>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"%>

</div>

<!-- This block contains the things for the first section of the home page
  it would be responsible for representing the image as well as the video!-->
<div id="first_section">

</div>


<!-- This second section of the home page will contain some sort of graphic arts
  that talks about motivation!-->
<div id="second_section">

</div>
  
<!-- This second third section would provide the iOS, google play and signup buttons !-->
<div id="third_section">

</div>
